<html>
  {{template "header.tmpl.html" }}
<body>
  {{template "nav.tmpl.html" . }}



  <div class="jumbotron text-center">
      <div class="container">
          <a href="/" class="lang-logo">
              <img src="/static/Full_Chinese.jpg">
          </a>
          <h1>Basic Information for members</h1>
          <p>In addition to basic text information, a personal picture is required</p>
      </div>
  </div>



  <div class="container-fluid">
<div class="text-center" style="padding-bottom: 10px">
      <a class="btn btn-success btn-lg" href="/members/create">Add a New Member</a>
</div>

  <table class="table table-responsive table-striped
      table-bordered table-hover table-condensed">

      <thead>
      <tr >
          <th class="text-center">
              ID
          </th>
          <th class="text-center">
              中文名字/Chinese Name
          </th>
          <th class="text-center">
              English Name
          </th>
          <th class="text-center">
              Email
          </th>
          <th class="text-center">
              Cell Phone
          </th>
          <th class="text-center">
              Small Picture
          </th>
          <th class="text-center">
              Full Size Picture
          </th>
          <th class="text-center">
              Actions
          </th>

      </tr>
      </thead>

      {{range .Members}}
    <tr>
      <td>
        {{.ID}}
      </td>
      <td>
        {{.ChineseName}}
      </td>
      <td>
        {{.EnglishName}}
      </td>
        <td>
        {{.Email}}
        </td>
        <td>
        {{.CellPhone}}
        </td>
        <td>
            <img src="{{.PictureURL}}" width="150px" />
        </td>
        <td>
            <a href="{{.PictureURL}}" target="_blank">
            {{.ShortPixName}}
            </a>
        </td>
        <td class="text-center">
            <a class ="btn btn-primary"
               href="/members/select/{{.ID}}">
                <i class="icon-lg ion-more"
                   title="More...">
                </i></a>

            {{ if .Disabled}}
            <a class ="btn btn-warning disabled"
               href="/members/update/{{.ID}}">
                <i class="icon-lg ion-edit"
                   title="Edit">
                </i>
            </a>
            {{ end }}

        {{ if not .Disabled}}
            <a class ="btn btn-warning"
               href="/members/update/{{.ID}}">
                <i class="icon-lg ion-edit"
                   title="Edit">
                </i>
            </a>
        {{ end }}

            {{ if .Disabled }}
            <a class ="btn btn-danger disabled"
               href="/members/delete/{{.ID}}">
                <i class="icon-lg ion-close-round"
                   title="Delete">
                </i>
            </a>
            {{ end }}
            {{ if not .Disabled}}
                <a class ="btn btn-danger"
                   href="/members/delete/{{.ID}}">
                    <i class="icon-lg ion-close-round"
                       title="Delete">
                    </i>
                </a>
            {{end }}
        </td>

    </tr>
  {{end }}

  </table>
</div>



</body>
</html>
