<html>
  {{template "header.tmpl.html"}}
<body>
  {{template "nav.tmpl.html" . }}



  <div class="jumbotron text-center">
      <div class="container">
          <a href="/" class="lang-logo">
              <img src="/static/Full_Chinese.jpg">
          </a>
          <h1>Basic Information for members</h1>
          <p>In addition to basic text information, a personal picture is required</p>
      </div>
  </div>



  <div class="container-fluid">
<div class="text-center" style="padding-bottom: 10px">
<h1>
    You need to login in order to view member information.
</h1></div>


</div>



</body>
</html>
